footer {
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

footer .col{
    padding: 20px 100px;
}

footer .name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bolder;
    gap: 1rem;
}

footer .name img{
    width: 30px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 10px;
}

footer ul a{
    color: white;
    text-decoration: none;
    font-size: .9rem;
}

footer hr{
    width: 100%;
}

.credits{
    color: rgb(142, 142, 142);
    border-top: 1px solid grey;
    width: 100%;
    text-align: center;
    padding: 2px;
}