.Hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.Hero  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(215, 245, 236, 0.786);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    gap: 2rem;
}

.block{
    background: #E8F3E9;
    padding: 10px 20px;
    border-radius: 25px;
    color: #4CAF50;
    font-weight: 500;
    width: fit-content;
}

.content img{
    width: 70px;
    background: #F0FDF4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-family: 'Outfit';
    font-size: 4rem;
    font-weight: bolder;
    background: radial-gradient(circle, #16A149 30%, #157238 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: 1.1;
}
 
.title p{
    color: #4B5563;
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 500;
}
