@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

:root {
  --first: #4CAF50;
  --second: #157238;
  --third: #E8F3E9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Nunito", serif; */
  font-family: 'Outfit';

}

.dark-btn {
  background: var(--first);
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: all ease.3s;
}

.dark-btn:hover {
  padding: 15px 40px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  /* Change color if needed */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader-gif {
  width: 80px;
  /* Adjust size */
  height: auto;
}

.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--second);
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  background: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}